apiVersion: apps/v1
kind: Deployment
metadata:
  name: begbot
spec:
  template:
    spec:
      containers:
        - name: begbot
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "1000m"
