apiVersion: apps/v1
kind: Deployment
metadata:
  name: begbot
spec:
  template:
    spec:
      containers:
        - name: begbot
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "2000m"
