apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  labels:
    app: postgres
type: Opaque
stringData:
  POSTGRES_USER: begbot
  POSTGRES_PASSWORD: replaceme-secure-password
  POSTGRES_DB: begbot
