apiVersion: v1
kind: Service
metadata:
  name: begbot-postgres
  labels:
    app: begbot-postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: begbot-postgres
